USN{
display :block; margin-left:10px;font-size:14pt;color:Red;
}
NAME{
display :block; margin-left:20px;font-size:14pt;color:Blue;
}
COLLEGE{
display :block; margin-left:20px;font-size:14pt;color:Maroon;
}
BRANCH{
display :block; margin-left:20px;font-size:14pt;color:Purple;
}
YEAR{
display :block; margin-left:20px;font-size:14pt;color:Green;
}
EMAIL{
display :block; margin-left:20px;font-size:14pt;color:Blue;
}
